@import 'variables';


body {
  background-color: white;
}

h3 {
  color: $dark-grey;
}

#header {
  border-bottom: 1px dotted black;
}

.headTitle {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: $dark-grey;
  display: inline;
}

.headerText {
  color: $light-grey;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}

.galleryViewPhoto {
  width: 380px;
  height: 270px;
  display: inline-block;
  
  }
  
//   .galleryViewDiv {

//   flex: 0 0 200px;
//   font-family: Arial, Helvetica, sans-serif;
//   color: $light-grey;
// }