@import 'variables';


body {
  background-color: white;
  margin: 70px 200px;
}

.formTitle {
  color: $dark-grey;
}

#header {
  border-bottom: 1px dotted $light-grey;
  margin-bottom: 50px;
  flex-flow: row wrap;
  display: flex;
}

.headTitle {
  font-size: 60px;
  font-family: Open Sans;
  color: $dark-grey;

}

.headerText {
  width: 300px;
  height: 150px;
  color: $light-grey;
  font-size: 13px;
  font-family: Raleway;
  
//   flex-wrap: wrap;
//   float: right;
  }

.galleryViewPhoto {
  width: 380px;
  height: 270px;
  display: inline-block;
  }

  #photoDetail {
    font-family: Open Sans;
    color: $light-grey;
  } 

  .submitBtn {
    
  }
  
//   .galleryViewDiv {

//   flex: 0 0 200px;
//   font-family: Arial, Helvetica, sans-serif;
//   color: $light-grey;
// }