body {
  background-color: white;
  margin: 70px 200px; }

.formTitle {
  color: #6f6a70; }

#header {
  border-bottom: 1px dotted silver;
  margin-bottom: 50px;
  flex-flow: row wrap;
  display: flex; }

.headTitle {
  font-size: 60px;
  font-family: Open Sans;
  color: #6f6a70; }

.headerText {
  width: 300px;
  height: 150px;
  color: silver;
  font-size: 13px;
  font-family: Raleway; }

.galleryViewPhoto {
  max-width: 380px;
  max-height: 370px;
  margin: 15px; }
  .galleryViewPhoto img {
    width: 380px;
    height: 270px; }

#photoDetail {
  font-family: Open Sans;
  color: silver; }

.galleryViewDiv {
  display: flex;
  flex: 0 0 200px;
  flex-flow: row wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: silver; }
