<div class="galleryViewDiv">

    {{#each results}}

    <div class="galleryViewPhoto">
        <a href="gallery/{{id}}">
            <img src={{link}}>
        </a>

        <br>
        <b>{{title}} | www.iLoveSpongeBob.com</b>

    </div>
    {{/each}}

</div>