
<form action="/gallery" method="POST">
<h1 class="formTitle">Submit Photo:</h1>

<label for="authorPhoto"> AUTHOR:
  <br>
  <input type="text" name="Author" value="Type Name Here" onfocus="this.value=''">
</label>

<label for="linkPhoto"> LINK:
  <br>
  <input type="text" name="Link" value="Enter Link" onfocus="this.value=''">
</label>

<label for="descPhoto"> LINK:
  <br>
  <input type="text" name="Description" value="Type Description Here" onfocus="this.value=''">
</label>

<input class="submitBtn" type="submit" value="Submit">

</form>