
<form action="/gallery" method="POST">
<h2 class="formTitle">Submit Photo:</h2>
<br>
<br>
<label for="authorPhoto"> AUTHOR:
  <br>
  <input type="text" name="author" value="Type Name Here" onfocus="this.value=''">
</label>
<br>
<label for="linkPhoto">
  <br>LINK:
  <br>
  <input type="text" name="link" value="Enter Link" onfocus="this.value=''">
</label>
<br>
<label for="descPhoto"> 
  <br>DESCRIPTION:
  <br>
  <input type="text" name="description" value="Type Description Here" onfocus="this.value=''">
</label>
<br>
<label for="titlePhoto"> 
  <br>TITLE:
  <br>
  <input type="text" name="title" value="Type Title Here" onfocus="this.value=''">
</label>
<br>
<br>
<input class="submitBtn" type="submit" value="Submit">

</form>