<form action="/register" method="POST">

  <label for="newUser"> Username:
    <br>
    <input type="text" name="username" value="Type USERNAME Here" onfocus="this.value=''">
  </label>
  <br>
  <br>
  <label for="firstName"> First Name:
    <br>
    <input type="text" name="first_name" value="Type First Name Here" onfocus="this.value=''">
  </label>
  <br>
  <br>
  <label for="lastName"> Last Name:
    <br>
    <input type="text" name="last_name" value="Type Last Name Here" onfocus="this.value=''">
  </label>
  <br>
  <br>
  <label for="passwordinput"> Password:
    <br>
    <input type="text" name="password" value="Type Password Here" onfocus="this.value=''">
  </label>
  <br>
  <br>
  <input type="submit"></input>
</form>